@using ProyectoMatrix.Servicios
@model IEnumerable<ProyectoMatrix.Models.WebinarListItemVm>
@{
    ViewData["Title"] = "Webinars";
    Layout = "~/Views/Shared/_LayoutComunicados.cshtml";
}
<link href="~/css/stylesComunicadosIndex.css" rel="stylesheet" />
<link href="~/css/stylesLiderLista.css" rel="stylesheet" />

@*Mandar a llamar al servicio de acceso para ocultar o mostrar los botones correspondientes *@
@inject IServicioAcceso Acceso
@{
    var usuarioId = int.Parse(User.FindFirst("UsuarioID").Value);
    var puedeCrear = await Acceso.TienePermisoAsync(usuarioId, "Crear webinar", "Crear");
    var puedeVer = await Acceso.TienePermisoAsync(usuarioId, "Ver Webinars", "Ver");
    var puedeEliminar = await Acceso.TienePermisoAsync(usuarioId, "Eliminar webinar", "Eliminar");

}

<h2 class="mb-3">Webinars</h2>

@if (puedeCrear)
{
    
    <div class="webinar-actions-container my-4 p-4">
        <div class="d-flex justify-content-center gap-3 flex-wrap">
            <a class="btn btn-primary custom-btn" asp-controller="Lider" asp-action="CrearWebinar">➕ Agregar webinar</a>
            <a class="btn btn-warning custom-btn" asp-controller="Lider" asp-action="Lista">🖥️ Mis webinars</a>
            <a class="btn btn-primary custom-btn" asp-controller="Lider" asp-action="GestionarWebinar">⚙️ Gestionar webinars</a>
        </div>
    </div>
} 

