@model IEnumerable<ProyectoMatrix.Models.WebinarListItemVm>
@{
    ViewData["Title"] = "Webinars";
    Layout = "~/Views/Shared/_LayoutComunicados.cshtml";

    var esGestor = User.IsInRole("Autor/Editor de Contenido")
                || User.IsInRole("Administrador de Intranet")
                || User.IsInRole("Propietario de Contenido");
}
<link href="~/css/stylesComunicadosIndex.css" rel="stylesheet" />
<h2 class="mb-3">Webinars</h2>

@if (esGestor)
{
    
    <div class="webinar-actions-container my-4 p-4">
        <div class="d-flex justify-content-center gap-3 flex-wrap">
            <a class="btn btn-primary custom-btn" asp-controller="Webinars" asp-action="CrearWebinar">➕ Agregar webinar</a>
            <a class="btn btn-warning custom-btn" asp-controller="Webinars" asp-action="Lista">🖥️ Mis webinars</a>
            <a class="btn btn-primary custom-btn" asp-controller="Webinars" asp-action="GestionarWebinar">⚙️ Gestionar webinars</a>
        </div>
    </div>
}
