@{
    Layout = "_LayoutComunicados";
    ViewData["Title"] = "Comunicados";
    var esGestor = User.IsInRole("Autor/Editor de Contenido")
                   || User.IsInRole("Administrador de Intranet")
                   || User.IsInRole("Propietario de Contenido");
}

<link href="~/css/stylesComunicadosIndex.css" rel="stylesheet" />

<div class="container py-4">
    <h2 class="mb-3">Comunicados</h2>
    <p class="text-muted mb-4">Elige una opción:</p>

    <div class="row g-3">
        <div class="col-md-4">
            <a class="btn btn-info w-100 " asp-action="Lista">
                📄 Ver mis comunicados 
            </a>
        </div>

        @if (esGestor)
        {
            <div class="col-md-4">
                <a class="btn btn-success w-100 " asp-action="Crear">
                    ➕ Agregar Comunicado
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-warning w-100 " asp-action="Gestionar">
                    ⚙️ Gestionar Comunicados
                </a>
            </div>
        }
    </div>
    
</div>